In [3]:
import pandas as pd
import numpy as np
from sklearn.decomposition import NMF
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
df = pd.read_csv("user_item.csv",index_col=0)
df = df.T
df

users,Maha,Jayesh,Torsten,Stefan,Benedikt,Sai,Carmine
Avatar,5.0,5.0,3.0,4.0,3.0,5.0,3.0
The Lord of the Rings,5.0,3.0,3.0,4.0,5.0,4.0,5.0
Pulp Fiction,4.0,NaN,4.0,5.0,3.0,3.5,NaN
The Great Beauty,NaN,NaN,NaN,NaN,NaN,NaN,3.5
Titanic,4.0,4.0,2.0,1.0,2.0,4.0,2.0
Apocalipse Now,3.0,3.0,4.0,5.0,2.0,NaN,NaN
The Last Dance,NaN,NaN,NaN,3.0,NaN,NaN,5.0
Once upon a Time in America,3.0,NaN,4.0,4.0,4.0,NaN,5.0
Back to the Future,5.0,3.0,5.0,4.0,3.0,NaN,4.0
Catch me if you can,4.0,NaN,3.0,3.0,4.0,3.0,3.0
Toy Story,2.0,1.0,4.0,1.5,3.0,4.0,NaN
The Wolf of Wall street,4.0,5.0,3.0,5.0,4.0,5.0,2.0

In [7]:
user_item = df.fillna(0)

In [8]:
user_item

users,Maha,Jayesh,Torsten,Stefan,Benedikt,Sai,Carmine
Avatar,5.0,5.0,3.0,4.0,3.0,5.0,3.0
The Lord of the Rings,5.0,3.0,3.0,4.0,5.0,4.0,5.0
Pulp Fiction,4.0,0.0,4.0,5.0,3.0,3.5,0.0
The Great Beauty,0.0,0.0,0.0,0.0,0.0,0.0,3.5
Titanic,4.0,4.0,2.0,1.0,2.0,4.0,2.0
Apocalipse Now,3.0,3.0,4.0,5.0,2.0,0.0,0.0
The Last Dance,0.0,0.0,0.0,3.0,0.0,0.0,5.0
Once upon a Time in America,3.0,0.0,4.0,4.0,4.0,0.0,5.0
Back to the Future,5.0,3.0,5.0,4.0,3.0,0.0,4.0
Catch me if you can,4.0,0.0,3.0,3.0,4.0,3.0,3.0
Toy Story,2.0,1.0,4.0,1.5,3.0,4.0,0.0
The Wolf of Wall street,4.0,5.0,3.0,5.0,4.0,5.0,2.0

In [11]:
def similarity():
    num = np.dot(vector_one, vector_two)
    den = np.sqrt(np.dot(vector_one, vector_one))*np.sqrt(np.dot(vector_two, vector_two))
    return num/den